# --- Frontend ---
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.local
frontend/.DS_Store

# --- Backend ---
backend/tmp
backend/main
backend/main.exe
backend/.env
backend/.DS_Store

# --- Database ---
pgdata/

# --- IDE ---
.vscode
.idea